[user]
	email = 20054400+gitHabbe@users.noreply.github.com
	name = Habbe
[init]
	defaultBranch = main
[core]
  pager = delta --24-bit-color=never
[delta "collared-trogon"]
  line-numbers = true
  minus-style = normal "#ffe2e0"
#[credential "https://github.com"]
  #helper = !/usr/bin/gh auth git-credential
#[credential "https://gist.github.com"]
  #helper = !/usr/bin/gh auth git-credential
[credential]
	helper = store
